{% extends 'base.html' %}
{% block content %}
<section class="projects">
  <div class="container">
    <h2>My Projects</h2>
    <div class="project-grid">
      <div class="project-card">
        <h3>Sales Dashboard</h3>
        <p>Built with Power BI to track sales trends.</p>
        <a href="#" class="btn open-tutorial-btn">Open Project</a>
      </div>
      <div class="project-card">
  <h3>Sales Dashboard</h3>
  <div class="tech-stack">
  </div>
  <p class="impact">Improved decision-making by reducing</p>
  <a href="#" class="btn open-tutorial-btn">Open Project</a>
</div>

      <div class="project-card">
        <h3>SQL Data Pipeline</h3>
        <p>Automated reporting system using SQL + Python.</p>
        <a href="#" class="btn open-tutorial-btn">Open Project</a>
      </div>
      <div class="project-card">
        <h3>Customer Insights</h3>
        <p>Analyzed customer churn using Python.</p>
        <a href="#" class="btn open-tutorial-btn">Open Project</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}